*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( 
		
		90deg,
		
		#b47fde,
		#919af9,
		#9de9f6,
		#fffffc);
}


.title-welcome{
    font-size:500%;
    right:5%;
    top: 33%;
    position: absolute;
    color: #fffffc;
}

ul.nav-li{
    left: 50%;
    list-style: none;
}

.top{
    position: relative;
    top: 50%;
    left:43%;
    width: 300px;
    font-size: 330%;
}

.top-li{
    list-style: none;
}

.top-li>a{
    color: #fffffc;
    text-decoration: none;
}

/* ここからproduction */
#production{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 270vh;

    background: linear-gradient( 		
    180deg,    
    #9de9f6,
    #fffffc);
    
}

/* .popup{
    background-color: linear-gradient( 		
        90deg,    
        #9e39d1,
        #fffffc);
} */

#production h2{
    position: absolute;
    color: rgb(179, 100, 215);
    left: 38%;
    top: 8%;
    font-size: 4.5rem;
}

#A-img1{
    position: absolute;
    scale: 80%;
    left: 12%;
    top:20%;
    width: 720px;
    height: 580px;
    object-fit: cover;
}

.img-text{
    position: absolute;
    font-size: 2.8rem;
    top: 28%;
    width: 550px;
    left: 58%;
}
#img1-text{
    font-size: 1.7rem;
    position: absolute;
    width: 550px;
    left: 58%;
    top: 32%;
}


#A-img2{
    position: absolute;
    left: 51%;
    top:53%;
    width: 590px;
    height: 390px;
    object-fit: cover;
}

.img-text-2{
    position: absolute;
    font-size: 2.8rem;
    top: 58%;
    width: 550px;
    left: 13%;
}

#img2-text{
    font-size: 1.7rem;
    position: absolute;
    width: 550px;
    left: 13%;
    top: 62%;
    width: 550px;
}


#A-img3{
    position: absolute;
    left: 16%;
    top:80%;
    width: 1180px;
    height: 200px;
    object-fit: cover;

}

.img-text-3{
    position: absolute;
    font-size: 2.8rem;
    top: 89%;
    width: 550px;
    left: 42%;
}

#img3-text{
    font-size: 1.7rem;
    position: absolute;
    width: 550px;
    left: 36%;
    top: 92%;
    width: 550px;
}


/* ここからAbout */
#about{
    position: relative;

    margin: 0;
    width: 100vw;
    height: 120vh;

    background: linear-gradient( 		
        360deg,    
        #9de9f6,
        #fffffc);
}

#about h2{
    font-size: 4.5rem;
    color: rgb(179, 100, 215);
    position: absolute;
    left: 41%;
    top: 19%;
}

.aboutme>p{
    color: #fffffc;
    line-height: 200%;
    font-size: 1.3rem;
    position: absolute;
    left: 35%;
    top: 70%;
}

#my-icon{
    position: absolute;
    left: 41%;
    top: 34%;
    width: 260px;
    height: 260px;
    object-fit: cover;
}


#Contact{
    position: relative;

    margin: 0;
    width: 100vw;
    height: 35vh;

}

#c-text{
    position: absolute;
    color: rgb(179, 100, 215);
    font-size: 4.2rem;
    left: 42%;
    top: 5%;

}

#c-p-text{
    position: absolute;
    font-size: 1.6rem;
    left: 37%;
    top: 40%;
}

#mail{
    position: absolute;
    font-size: 2.7rem;
    left: 37%;
    top: 59%;

}



footer{
    position: relative;
    width:500px;
    left:48%;
}